.search-term {
    padding-right: 10px;
}

.search-form {
    display: block;
    text-align: center;
}

.full-text-search {
    display: inline-block;
    margin-right: 10px;
}

.full-text-search > input {
    line-height: 35px;
    width: 500px;
}

.btn-default.submit-btn:hover {
    color: var(--white);
    background-color: var(--selected-orange);
    background-position: 0px -40px;
    font-weight: normal;
}

.breakdown-datasets {
    width: 100%;
    margin-top: 50px;
}

.breakdown-table {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 16px;
    font-size: 16px;
}

.breakdown-table, th, td {
    border: 1px solid var(--boder-grey);
    text-align: center;
}

.founders-panel {
    margin-top: 50px;
}

span.title {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
}

.founder-list {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.founder-list > img {
    margin-right: 60px;
}

.breakdown-table > thead > tr > th {
    height: 35px;
}

#linux-australia-logo {
    width: 12%;
}

#lstem-cells-australia-logo {
    width: 15%;
}

#nectarcloud-logo, #university-of_melbourne-logo {
    width: 20%;
}
