a {
    color: var(--text-color);
    text-decoration: underline;
}

.dataset-summary-box {
    padding: 25px;
    border: 1px solid var(--boder-grey);
    border-radius: 3px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 40px;
}

div.row {
    margin-left: 3%;
    margin-right: 1%;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 28px;
    color: var(--title-orange);
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    color: var(--text-color);
}

.dataset-links-col {
    margin-top: 20px;
    margin-bottom: 20px;
}

td {
    font-size: 15px;
}

td.col-md-4,td.col-md-8 {
    padding-left: 0;
}

.file-downloads-box {
    padding: 16px;
    border: 1px solid var(--boder-grey);
    border-radius: 3px;
    margin-bottom: 20px;
}

.file-downloads-box > .breakdown {
    margin-top: 12px;
}

#downloadable-files-table, .download-th, .download-td  {
    border: 1px solid var(--boder-grey);
}

.download-th  {
    height: 35px;
}

.no-downloadable-files-td {
    text-align: center;
}

.link-back-btn {
    line-height: 28px;
    background: orange;
    color: white;
    border: none !important;
    border-radius: 3px;
}

.link-back-btn > a{
    text-decoration: none;
}
.link-back-btn > a:hover {
    text-decoration: none;
    color: white;
}
